.table-container {
  overflow: auto;
  height: 700px;

  table {
    width: 100%;

    :host ::ng-deep .mat-table {
      overflow: auto;
      max-height: 800px;
    }
  }
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 8px 24px 0;

  :host ::ng-deep .mat-stroked-button {
    height: 40px;
  }
}

.mat-row:hover {
  background-color: lightgray;
  cursor: pointer;
}




